body {
    font-family: Arial, sans-serif;
}

#header {
    padding: 20px;
    text-align: center;
    font-size: 30pt;
    font-weight: bold;
    color: rgb(80, 80, 80);
}

#calcul-form {
    float: left;
    margin: 25px 0 0 5%;
    border: 1px solid lightgray;
    width: 375px;
    background-color: rgb(240, 240, 240);
    color: rgb(80, 80, 80);

    -webkit-transition: -webkit-box-shadow 0.25s;
    -moz-transition: -moz-box-shadow 0.25s;
    -o-transition: box-shadow 0.25s;
    transition: box-shadow 0.25s;
}

#calcul-form:hover {
    border-color: darkgray;
    -webkit-box-shadow: 1px 1px 25px rgb(230, 230, 230),
    1px -1px 25px rgb(230, 230, 230),
    -1px 1px 25px rgb(230, 230, 230),
    -1px -1px 25px rgb(230, 230, 230);
    -moz-box-shadow: 1px 1px 25px rgb(230, 230, 230),
    1px -1px 25px rgb(230, 230, 230),
    -1px 1px 25px rgb(230, 230, 230),
    -1px -1px 25px rgb(230, 230, 230);
    box-shadow: 1px 1px 25px rgb(230, 230, 230),
    1px -1px 25px rgb(230, 230, 230),
    -1px 1px 25px rgb(230, 230, 230),
    -1px -1px 25px rgb(230, 230, 230);
}

#form-title {
    margin: 10px;
    font-weight: bold;
    font-size: 19pt;
    text-align: center;
}

.input-form {
    margin: 25px;
    text-align: center;
}

.input-title {
    margin: 8px;
    font-size: 14pt;
}

.input-number {
    border: 1px solid rgb(210, 210, 210);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    padding: 0 8px 0 8px;
    width: 190px;
    height: 35px;
    background-color: rgb(235, 237, 240);
    font-size: 16px;
    color: black;
}

.input-number:focus {
    border-color: black;
    background-color: white;
}