body {
    font-family: Arial, sans-serif;
}

#header {
    padding: 20px;
    text-align: center;
    font-size: 30pt;
    font-weight: bold;
    color: rgb(80, 80, 80);
}

#calcul-form {
    float: left;
    margin: 0 0 100px 100px;
    border: 1px solid lightgray;
    width: 375px;
    background-color: rgb(240, 240, 240);
    color: rgb(80, 80, 80);
}

#calcul-form:hover {
    border-color: darkgray;
    -webkit-box-shadow: 1px 1px 10px rgb(230, 230, 230),
    1px -1px 10px rgb(230, 230, 230),
    -1px 1px 10px rgb(230, 230, 230),
    -1px -1px 10px rgb(230, 230, 230);
    -moz-box-shadow: 1px 1px 10px rgb(230, 230, 230),
    1px -1px 10px rgb(230, 230, 230),
    -1px 1px 10px rgb(230, 230, 230),
    -1px -1px 10px rgb(230, 230, 230);
    box-shadow: 1px 1px 10px rgb(230, 230, 230),
    1px -1px 10px rgb(230, 230, 230),
    -1px 1px 10px rgb(230, 230, 230),
    -1px -1px 10px rgb(230, 230, 230);
}

.form-title {
    margin: 8px;
    font-weight: bold;
    text-align: center;
    font-size: 19pt;
}

#iteration {
    margin: 0 5px 0 5px;
    text-align: center;
}

