body {
    font-family: Arial, sans-serif;
}

#header {
    padding: 20px;
    text-align: center;
    font-size: 30pt;
    font-weight: bold;
    color: rgb(80, 80, 80);
}

#calcul-form {
    float: left;
    margin: 25px 0 0 5%;
    border: 1px solid lightgray;
    width: 375px;
    background-color: rgb(240, 240, 240);
    color: rgb(80, 80, 80);

    -webkit-transition: -webkit-box-shadow 0.25s;
    -moz-transition: -moz-box-shadow 0.25s;
    -o-transition: box-shadow 0.25s;
    transition: box-shadow 0.25s;

    -webkit-animation: fadein 3s linear 5s;
}

#calcul-form:hover {
    border-color: darkgray;
    -webkit-box-shadow: 1px 1px 25px rgb(230, 230, 230),
    1px -1px 25px rgb(230, 230, 230),
    -1px 1px 25px rgb(230, 230, 230),
    -1px -1px 25px rgb(230, 230, 230);
    -moz-box-shadow: 1px 1px 25px rgb(230, 230, 230),
    1px -1px 25px rgb(230, 230, 230),
    -1px 1px 25px rgb(230, 230, 230),
    -1px -1px 25px rgb(230, 230, 230);
    box-shadow: 1px 1px 25px rgb(230, 230, 230),
    1px -1px 25px rgb(230, 230, 230),
    -1px 1px 25px rgb(230, 230, 230),
    -1px -1px 25px rgb(230, 230, 230);
}

#form-title {
    margin: 10px;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
}

.input-form {
    margin: 25px;
    text-align: center;
}

.input-title {
    margin: 8px;
    font-size: 19px;
}

.input-number {
    border: 1px solid rgb(220, 220, 220);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    padding: 0 8px 0 8px;
    width: 190px;
    height: 35px;
    background-color: rgba(235, 237, 240, 0.8);
    font-size: 16px;
    color: black;

    -webkit-transition: border-color 0.5s;
    -moz-transition: border-color 0.5s;
    -o-transition: border-color 0.5s;
    transition: border-color 0.5s;
}

.input-number:hover {
    border-color: darkgray;
}

.input-number:focus {
    border-color: darkgray;
    background-color: white;

    -webkit-transition: background-color 0.25s;
    -moz-transition: background-color 0.25s;
    -o-transition: background-color 0.25s;
    transition: background-color 0.25s;
}

#submit-container {
    text-align: center;
}

#submit-form {
    margin: 5px;
    border: 1px solid rgb(220, 220, 220);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    padding: 6px 13px 6px 13px;
    background-color: rgba(225, 227, 230, 0.9);
    font-size: 17px;
    color: inherit;
    cursor: pointer;

    -webkit-transition: border-color 0.5s;
    -moz-transition: border-color 0.5s;
    -o-transition: border-color 0.5s;
    transition: border-color 0.5s;
}

#submit-form:hover {
    border-color: darkgray;
}

#help {
    margin: 20px;
    font-size: 18px;
    text-align: center;

    -webkit-animation: fadein 2s;
    -webkit-animation-delay: 5s;

    -webkit-transition-delay: 3s;
    -webkit-transition: margin 2s;
    -moz-transition: margin 2s;
    -o-transition: margin 2s;
    transition: margin 2s;
}

@-webkit-keyframes fadein {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}